body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}
img,
.icon {
  max-width: 100px;
  transition: all 0.2s ease-in-out;
}

img:hover {
  z-index: 1;
  transform: scale(1.2);
}

input {
  min-height: 30px;
}

textarea {
  min-height: 70px;
}

.page > div {
  margin: 5vh 5vw;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: space-around;
}

.bio {
  background-color: springgreen;
  padding: 10vw 14vh;
}

.interests {
  background-color: aqua;
  padding: 10vw 14vh;
}

.resume {
  background-color: slateblue;
  padding: 2vw 2vh;
}
.resume > div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.accomplishments {
  background-color: gold;
  padding: 10vh 1vw;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  border-radius: 5px;
  padding: 8vw;
}

.email-form > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.email-form > div > label {
  text-align: left;
}
